<section>
  <div class="w-full bg-blue-100 border-b border-blue-200 overflow-hidden">

    <div class="flex items-center">
      <!-- scrolling notice -->
      <div class="overflow-hidden flex-1">
        <div class="notice-marquee flex items-center gap-12 px-4 py-3 text-sm whitespace-nowrap">

          <span class="font-semibold text-green-700">
            {{config?.homepage.homeNoticeType}} {{config?.homepage?.homeNotice}}
          </span>

        </div>
      </div>

    </div>

  </div>
</section>
<main class="max-w-[1400px] mx-auto px-4">

  <section class="relative overflow-hidden rounded-2xl mb-12">
    <div class="grid md:grid-cols-5">

      <div class="md:col-span-3
             h-[260px] sm:h-[350px] md:h-[520px]
             bg-cover md:bg-cover bg-center
             md:rounded-l-2xl"
           [style.background-image]="'url(' + config?.homepage?.hero?.imageLeft + ')'">
      </div>
      <div class="relative md:col-span-2
             h-[260px] sm:h-[350px] md:h-[520px]
             flex flex-col justify-end items-center md:items-start
             text-center md:text-left px-6 pb-6 md:pb-8
             md:rounded-r-2xl bg-cover bg-center"
           [style.background-image]="'linear-gradient(rgba(15,23,42,0.7),rgba(15,23,42,0.7)), url(' + config?.homepage?.hero?.imageRight + ')'">
        <span class="inline-block brand-gradient-bg text-white px-4 py-1 rounded-full text-s font-bold mb-4 uppercase tracking-widest">
          {{config?.homepage?.hero?.welcomeText}}
        </span>

        <h2 class=" text-xl sm:text-2xl md:text-4xl font-black mb-6 text-white leading-tight">
          {{config?.villageTitle}} <span class="text-xl sm:text-2xl md:text-4xl">{{config?.villageName}}</span> {{config?.homepage?.hero?.greetingText}}
        </h2>

        <p class="text-white/90 text-lg mb-8 max-w-xl">
          {{config?.homepage?.hero?.tagline}}
        </p>

        <div class="flex flex-wrap justify-center md:justify-start gap-4">
          <button [routerLink]="config?.homepage?.hero?.buttonRoute" class="brand-gradient-bg text-white px-8 py-4 rounded-lg font-bold hover:scale-105 transition-transform">
            {{config?.homepage?.hero?.buttonText}}
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-16">
    <div class="text-center mb-10">
      <h3 class="text-3xl md:text-4xl font-black text-slate-900 mb-4">{{config?.homepage?.importantLinksSection?.linkTitle}}</h3>
      <div class="h-1.5 w-64 brand-gradient-bg mx-auto rounded-full mb-6"></div>
      <p class="text-slate-600 max-w-2xl mx-auto">{{config?.homepage?.importantLinksSection?.linkDesc}}</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <a *ngFor="let link of config?.homepage?.importantLinksSection?.importantLinks"
         [routerLink]="link.route"
         class="service-card-hover group bg-white p-8 rounded-2xl border border-slate-100 flex flex-col items-center text-center shadow-lg">

        <div class="w-16 h-16 bg-blue-50 text-primary-blue rounded-2xl flex items-center justify-center mb-6 group-hover:bg-brand-gradient group-hover:text-white transition-all duration-300">
          <span class="material-symbols-outlined text-4xl">
            {{link.icon}}
          </span>
        </div>
        <h4 class="text-xl font-bold text-slate-900 mb-3">
          {{link.title}}
        </h4>
        <p class="text-slate-600 mb-6">
          {{link.desc}}
        </p>
        <div class="w-full py-2 bg-slate-50 text-primary-blue font-bold rounded-lg border border-primary-blue group-hover:bg-brand-gradient group-hover:text-white group-hover:border-transparent transition-all">{{config?.homepage?.importantLinksSection.buttonText}} </div>
      </a>
    </div>
  </section>
  <section class="mb-16 grid grid-cols-1 md:grid-cols-2 gap-12 items-center bg-white pl-7 md:pl-7 rounded-2xl border border-slate-100 shadow-sm relative overflow-hidden">
    <div class="absolute top-0 left-0 w-1 h-full brand-gradient-bg"></div>
    <div class="order-2 md:order-1">
      <div class="inline-block bg-blue-100 text-primary-blue px-4 py-1 rounded-full text-s font-bold mb-4 uppercase">{{config?.homepage?.villageIntro?.villageTag}}</div>
      <h3 class="text-3xl font-black text-slate-900 mb-6">{{config?.homepage?.villageIntro?.title}}</h3>
      <p class="text-slate-600 text-lg leading-relaxed mb-6">
        {{config?.homepage?.villageIntro?.desc}}
      </p>

      <button [routerLink]="config?.homepage?.villageIntro?.buttonRoute" class="flex items-center justify-center hover:scale-105 rounded-lg h-12 px-8 brand-gradient-bg text-white text-md font-bold hover:shadow-lg hover:opacity-90 transition-all">{{config?.homepage?.villageIntro?.buttonText}}</button>
    </div>
    <div class="order-1 md:order-2 rounded-r-xl overflow-hidden h-full md:h-full shadow-lg ring-4 ring-blue-50">
      <img alt="Village Landscape" class="w-full h-full object-cover" [src]="config?.homepage?.villageIntro?.image" />
    </div>
  </section>
  <section class="grid grid-cols-2 lg:grid-cols-4 gap-6 mb-16">
    <div *ngFor="let stat of config?.homepage?.stats">
      <div class="bg-white p-6 rounded-xl border border-slate-100 shadow-lg flex items-center gap-4 relative overflow-hidden">
        <div class="absolute bottom-0 right-0 w-16 h-16 brand-gradient-bg opacity-5 -mb-8 -mr-8 rounded-full"></div>
        <div class="bg-blue-50 p-2 lg:p-3 rounded-lg text-primary-blue">
          <span class="material-symbols-outlined text-xl lg:text-3xl">{{stat.icon}}</span>
        </div>
        <div>
          <p class="font-medium text-slate-500">{{stat.title}}</p>
          <p class="text-2xl lg:text-3xl font-black text-slate-900">{{stat.value}}</p>
        </div>
      </div>

    </div>
  </section>
  <section class="mb-16">
    <div class="flex items-center justify-between mb-8">
      <div>
        <h3 class="text-3xl font-black text-slate-900">{{config?.homepage?.membersSection?.memberTitle}}</h3>
        <div class="h-1.5 w-64 brand-gradient-bg mt-2 rounded-full"></div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div *ngFor="let member of config?.homepage?.membersSection?.members">
        <div class="bg-white rounded-2xl border border-slate-100 p-6 text-center shadow-lg transition-shadow group relative overflow-hidden">
          <div class="absolute top-0 inset-x-0 h-1.5 brand-gradient-bg "></div>
          <div class="relative w-32 h-32 mx-auto mb-6">
            <div class="absolute inset-0 brand-gradient-bg rounded-full animate-pulse opacity-10 scale-110 transition-transform"></div>
            <img alt="Sarpanch" class="w-full h-full object-cover rounded-full border-4 border-white shadow-md relative z-10" [src]="member.image" />
          </div>
          <h4 class="text-xl font-black text-slate-900 mb-1">{{member.name}}</h4>
          <p class="text-primary-blue font-bold  mb-4 uppercase tracking-wide">{{member.role}}</p>
          <p class="text-slate-600 mb-6">{{member.desc}}</p>
          <div class="flex justify-center gap-3">
            <a class="hover:scale-105 brand-gradient-bg text-white px-6 py-2.5 rounded-lg font-bold text-sm flex items-center gap-2"
               [href]="'tel:'+member.phone">
              <span class="material-symbols-outlined text-sm">call</span> {{config?.homepage?.membersSection?.memberCallText}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center pt-5">
      <button [routerLink]="config?.homepage?.membersSection?.memberRoute" class="flex items-center justify-center hover:scale-105 rounded-lg h-12 px-8 brand-gradient-bg text-white text-md font-bold hover:shadow-lg hover:opacity-90 transition-all">
        {{config?.homepage?.membersSection?.memberButtonText}}
      </button>
    </div>
  </section>
  <section class="mb-16 bg-slate-50 rounded-2xl bg-white border border-slate-100 overflow-hidden shadow-sm">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="p-8 md:p-12">
        <div class="inline-block bg-blue-100 text-primary-blue px-4 py-1 rounded-full text-s font-bold mb-4 uppercase">{{config?.homepage?.schoolSection?.tag}}</div>
        <h3 class="text-3xl font-black text-slate-900 mb-6">{{config?.homepage?.schoolSection?.title}}</h3>
        <p class="text-slate-600 text-lg leading-relaxed mb-8">
          {{config?.homepage?.schoolSection?.desc}}
        </p>
        <button [routerLink]="config?.homepage?.schoolSection?.buttonRoute" class="flex items-center justify-center hover:scale-105 rounded-lg h-12 px-8 brand-gradient-bg text-white text-md font-bold hover:shadow-lg hover:opacity-90 transition-all">
          {{config?.homepage?.schoolSection?.buttonText}}
        </button>
      </div>
      <div class="h-80 md:h-auto bg-slate-200 ring-l-4 ring-blue-50">
        <img class="w-full h-full object-cover" [alt]="config?.homepage?.schoolSection?.title"
             [src]="config?.homepage?.schoolSection?.image" />
      </div>
    </div>
  </section>
  <section class="mb-16">
    <div class="flex items-center justify-between mb-8">
      <div>
        <h3 class="text-3xl font-black text-slate-900">{{config?.homepage?.servicesSection?.title}}</h3>
        <div class="h-1.5 w-64 brand-gradient-bg mt-2 rounded-full"></div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">


      <div *ngFor="let service of config?.homepage?.servicesSection?.services"
           class="group bg-white rounded-xl border border-slate-100 overflow-hidden shadow-lg hover:shadow-xl hover:-translate-y-1 transition-all">

        <div class="h-48 overflow-hidden bg-slate-100">
          <img class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500"
               [src]="service.image"
               [alt]="service.title">
        </div>

        <div class="p-5">

          <h4 class="text-lg font-bold mb-2">
            {{service.title}}
          </h4>

          <p class="text-slate-600 mb-4">
            {{service.desc}}
          </p>

        </div>

      </div>

    </div>

    <div class="flex items-center justify-center pt-5">
      <button [routerLink]="config?.homepage?.servicesSection?.buttonRoute" class="flex items-center justify-center hover:scale-105 rounded-lg h-12 px-8 brand-gradient-bg text-white text-md font-bold hover:shadow-lg hover:opacity-90 transition-all">
        {{config?.homepage?.servicesSection?.buttonText}}
      </button>
    </div>
  </section>
  <section class="bg-background-dark text-white rounded-2xl p-8 md:p-12 mb-16 relative overflow-hidden shadow-2xl border border-slate-800">
    <div class="absolute top-0 right-0 w-64 h-64 brand-gradient-bg blur-[100px] rounded-full -translate-y-1/2 translate-x-1/2 opacity-20"></div>
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-between gap-8">
      <div class="">
        <h3 class="text-3xl font-black mb-4 flex items-center gap-3"><span class="material-symbols-outlined text-primary-blue">notifications_active</span>{{config?.homepage?.announcement?.title}}</h3>
        <p class="text-slate-400 text-lg">{{config?.homepage?.announcement?.desc}}</p>
      </div>
    </div>
  </section>
</main>
