/* .hero-section {
  background: linear-gradient(rgba(15, 23, 42, 0.7), rgba(15, 23, 42, 0.7)), url("../../../assets/village/nature.jpg");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: right center;
} */


.notice-marquee {
  animation: notice-marquee 40s linear infinite;
}

  .notice-marquee:hover {
    animation-play-state: paused;
  }

@keyframes notice-marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

