################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/grampanchayat-site-avhane-bk-api/GrampanchayatAPI/bin/Debug/net8.0
/grampanchayat-site-avhane-bk-api/GrampanchayatAPI/obj
/grampanchayat-site-avhane-bk-api/GrampanchayatAPI/.vs
/grampanchayat-site-avhane-bk/.vs
/.vs
