################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/grampanchayat-site-api/GrampanchayatAPI/bin/Debug/net8.0
/grampanchayat-site-api/GrampanchayatAPI/obj
/grampanchayat-site-api/GrampanchayatAPI/.vs
/grampanchayat-site-ui/.vs
/.vs
