<div class="sticky top-0 z-50">
  <div class="bg-brand-gradient text-white py-2 px-4 md:px-8 xl:px-20 flex justify-between items-center font-medium text-xs sm:text-sm md:text-base">
    <div class="flex items-center gap-4">
      <span class="flex items-center gap-1"><span class="material-symbols-outlined text-sm">{{config?.contactInfo?.phone.icon}}</span> {{config?.contactInfo?.phone.value}}</span>
      <span class="flex items-center gap-1"><span class="material-symbols-outlined text-sm">{{config?.contactInfo?.email.icon}}</span> {{config?.contactInfo?.email.value}}</span>
    </div>
  </div>
  <header class="bg-white shadow-lg z-50 bg-white/95 backdrop-blur-md border-b border-slate-200 px-4 md:px-8 xl:px-20 py-3">
    <div class="max-w-[1700px] mx-auto flex flex-col xl:flex-row items-center justify-between gap-4">
      <div class="flex items-center justify-between w-full xl:w-auto shrink-0">
        <a href="#" [routerLink]="config?.homepageRoute" class="flex items-center gap-3">
          <div class="flex gap-x-4 2xl:gap-x-6">
            <img *ngFor="let logo of config?.header?.logos"
                 [src]="logo"
                 class="gp-icon">
            <span class="gp-title gap-x-4 gap-2">
              <span class="gp-main brand-gradient-text">{{config?.villageName}}</span>
              <span class="gp-sub text-primary-blue">{{config?.type}}</span>
            </span>
          </div>
        </a>
        <button class="xl:hidden p-2 text-slate-900"
                (click)="toggleMenu()">

          <span class="material-symbols-outlined">
            {{ isMobileMenuOpen ? 'close' : 'menu' }}
          </span>
        </button>
      </div>
      <nav class="hidden xl:flex flex-grow items-center justify-end ">

        <a *ngFor="let menu of config?.header?.menus"
           class="nav-link"
           [routerLink]="menu.route"
           routerLinkActive="active"
           [routerLinkActiveOptions]="menu.route === '/' ? { exact: true } : { exact: false }">

          {{menu.title}}

        </a>
      </nav>
    </div>
  </header>

  <!-- Mobile Menu -->
  <div *ngIf="isMobileMenuOpen"
       class="xl:hidden bg-white border-b border-slate-200 shadow-lg">

    <nav class="flex text-center flex-col p-4 space-y-3 text-slate-700 font-semibold">
      <a *ngFor="let menu of config?.header?.menus"
         class="nav-link"
         [routerLink]="menu.route"
         routerLinkActive="active"
         (click)="toggleMenu()">

        {{menu.title}}

      </a>

    </nav>
  </div>
</div>
