<main class="max-w-[1400px]  mx-auto px-4 py-6">
  <div class="mb-12 text-center">
    <span class="inline-block bg-blue-100 text-primary-blue px-4 py-1 rounded-full text-s font-bold mb-4 uppercase tracking-widest">{{config?.schemesPage?.header?.badge}}</span>
    <h2 class="text-3xl md:text-4xl font-black text-slate-900 mb-4">{{config?.schemesPage?.header?.title}}</h2>
    <div class="h-1.5 w-64 brand-gradient-bg rounded-full mb-6 mx-auto"></div>
    <p class="text-slate-600 text-lg max-w-3xl mx-auto">{{config?.schemesPage?.header?.description}}</p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-16">
    <div *ngFor="let scheme of config?.schemesPage?.schemes" class="scheme-card flex flex-col h-full relative overflow-hidden">
      <div class="absolute top-0 right-0 w-32 h-32 brand-gradient-bg opacity-[0.03] -mr-16 -mt-16 rounded-full"></div>
      <div class="flex flex-col md:flex-row gap-6 flex-grow">
        <div class="shrink-0">
          <div class="w-14 h-14 bg-blue-50 text-primary-blue rounded-xl flex items-center justify-center">
            <span class="material-symbols-outlined text-4xl">{{scheme.icon}}</span>
          </div>
        </div>
        <div class="flex-grow">
          <div class="flex flex-wrap items-center gap-2 mb-2">
            <span class="px-3 py-0.5 bg-green-100 text-green-700 text-xs font-bold rounded-full uppercase tracking-wider">{{scheme.department}}</span>
            <span class="px-3 py-0.5 bg-blue-100 text-blue-700 text-xs font-bold rounded-full uppercase tracking-wider">{{scheme.government}}</span>
          </div>
          <h4 class="text-xl font-bold text-slate-900 mb-2">{{scheme.title}}</h4>
          <p class="text-slate-600  mb-6 leading-relaxed">
            {{scheme.description}}
          </p>
        </div>
      </div>
      <div class="bg-blue-100 rounded-lg p-3 border border-blue-100">
        <h4 class=" font-semibold text-blue-800 mb-2">{{scheme.documentsTitle}}</h4>
        <ul class="list-disc list-inside  text-gray-700 space-y-1">
          <li *ngFor="let document of scheme.documents">
            {{document}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <section class="bg-background-dark text-white rounded-2xl p-8 md:p-12 relative overflow-hidden shadow-2xl border border-slate-800">
    <div class="absolute top-0 right-0 w-64 h-64 brand-gradient-bg blur-[100px] rounded-full -translate-y-1/2 translate-x-1/2 opacity-20"></div>
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-between gap-8">
      <div class="">
        <h3 class="text-3xl font-black mb-4 flex items-center gap-3">{{config?.schemesPage?.helpSection?.title}}</h3>
        <p class="text-slate-400 text-lg">{{config?.schemesPage?.helpSection?.description}}</p>
      </div>
    </div>
  </section>

  <div class="flex items-center justify-center pt-10">
    <button [routerLink]="config?.homepageRoute" class="flex items-center justify-center hover:scale-105 rounded-lg h-12 px-8 brand-gradient-bg text-white text-md font-bold hover:shadow-lg hover:opacity-90 transition-all" tabindex="0">
      {{config?.backButtonSection?.text}}
    </button>
  </div>
</main>
