<main class="max-w-[1400px] mx-auto px-4 py-6">
  <section class="mb-16">
    <div class="text-center mb-10">
      <span class="inline-block bg-blue-100 text-primary-blue px-4 py-1 rounded-full text-s font-bold mb-4 uppercase tracking-widest">{{config?.servicesPage?.header.badge}}</span>
      <h3 class="text-3xl md:text-4xl font-black text-slate-900 mb-4">{{config?.servicesPage?.header.title}}</h3>
      <div class="h-1.5 w-64 brand-gradient-bg mx-auto rounded-full mb-6"></div>
      <p class="text-slate-600 max-w-2xl mx-auto">{{config?.servicesPage?.header.description}}</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let service of config?.servicesPage?.services" class="group bg-white rounded-xl border border-slate-100 overflow-hidden shadow-card-warm transition-all">
        <div class="h-48 overflow-hidden bg-slate-100 relative">
          <img alt="Birth Certificate" class="w-full h-full object-cover  transition-transform duration-500" [src]="service.image" />
          <div class="absolute top-4 left-4 w-12 h-12 brand-gradient-bg rounded-lg flex items-center justify-center text-white shadow-lg">
            <span class="material-symbols-outlined text-2xl">{{service.icon}}</span>
          </div>
        </div>
        <div class="p-5">
          <h4 class="text-lg font-bold mb-2">{{service.title}}</h4>
          <p class=" text-slate-600 mb-6">
            {{service.description}}
          </p>
          <p *ngIf="service.showDocuments" class="text-sm text-blue-600 mb-3 font-medium">{{service.department}}</p>
          <div *ngIf="service.showDocuments" class="bg-blue-100 rounded-lg p-3 border border-blue-100">
            <h4 class=" font-semibold text-blue-800 mb-2">{{service.documentTitle}}</h4>
            <ul class="list-disc list-inside text-gray-700 space-y-1">
              <li *ngFor="let document of service.documents">
                {{document}}
              </li>
            </ul>
          </div>
          <button *ngIf="!service.showDocuments" [routerLink]="service.button.route" class="hover:scale-105 w-full py-3 gradient-btn text-white font-bold rounded-lg transition-all flex items-center justify-center gap-2">
            {{service.button.text}} <span class="material-symbols-outlined text-sm">{{service.button.icon}}</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-background-dark text-white rounded-2xl p-8 md:p-12  relative overflow-hidden shadow-2xl border border-slate-800">
    <div class="absolute top-0 right-0 w-64 h-64 brand-gradient-bg blur-[100px] rounded-full -translate-y-1/2 translate-x-1/2 opacity-20"></div>
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-between gap-8">
      <div class="max-w-2xl">
        <h3 class="text-3xl font-black mb-4 flex items-center gap-3"><span class="material-symbols-outlined text-primary-blue">help</span> {{config?.servicesPage?.helpSection.title}}</h3>
        <p class="text-slate-400 text-lg">{{config?.servicesPage?.helpSection.description}}</p>
      </div>
      <button [routerLink]="config?.servicesPage?.helpSection.buttonRoute" class="flex min-w-[200px] items-center justify-center rounded-lg h-14 px-8 brand-gradient-bg text-white text-lg font-bold hover:scale-105 transition-transform shadow-lg shadow-blue-500/20">
        {{config?.servicesPage?.helpSection.buttonText}}
      </button>
    </div>
  </section>
  <div class="flex items-center justify-center pt-10">
    <button [routerLink]="config?.homepageRoute" class="flex items-center justify-center hover:scale-105 rounded-lg h-12 px-8 brand-gradient-bg text-white text-md font-bold hover:shadow-lg hover:opacity-90 transition-all" tabindex="0">
      {{config?.backButtonSection.text}}
    </button>
  </div>
</main>
